@page "/usuarios"
@inject NavigationManager NavigationManager
@inject IServicioDeSecion servicioDeSecion
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioConsultaTodos CasoDeUsoUsuarioConsultaTodos
@inject CasoDeUsoUsuarioModificacion CasoDeUsoUsuarioModificacion
@inject CasoDeUsoUsuarioAlta CasoDeUsoUsuarioAlta
@inject CasoDeUsoUsuarioBaja CasoDeUsoUsuarioBaja
@inject IServicioAutorizacion servicioAutorizacion
@inject IJSRuntime JS

<h3>Gestion de Usuarios</h3>

<DialogoConfirmacion @ref=dialogo />

<MensajeExito @ref="mensajeExito" />
<MensajeError @ref="mensajeError" />

<UsuarioCrearEditar @ref="crearEditarUsuario" OnUpdate="Updated" _usuario="@_usuario" OnError="NotUpdated" UsuarioRegistrado="@UsuarioRegistrado" _creando="@_creando" _editando="@_editando"/>

<button class="btn btn-primary" @onclick="()=>AbrirEspacioParaCreacion()">Crear Nuevo Usuario</button>

@if(UsuariosList != null && UsuariosList.Any()){
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in UsuariosList)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nombre  @usuario.Apellido</td>
                    <td>@usuario.Email</td>
                    <td class="usuario-acciones">
                        <button class="btn btn-primary" @onclick="()=>AbrirEspacioParaEdicion(usuario.Id)">Editar</button>
                        <button class="btn btn-danger" @onclick="()=>AbrirDialogo(usuario.Id)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Usuario>? UsuariosList { get; set; }
    private Usuario _usuario = new Usuario();
    private bool _creando = false;
    private bool _editando = false;
    private Usuario? UsuarioRegistrado;
    DialogoConfirmacion dialogo = null!;
    UsuarioCrearEditar crearEditarUsuario = null!;
    MensajeExito mensajeExito = null!;
    MensajeError mensajeError = null!;

    private void ExibirMensaje(string mensaje, string tipo)
    {
        if (tipo == "error")
        {
            mensajeError._mensajeError = mensaje;
            mensajeError.Mostrar();
        }
        else
        {
            mensajeExito._mensajeExito = mensaje;
            mensajeExito.Mostrar();
        }
    }

    private void AbrirDialogo(int id){
        dialogo.Mensaje = "¿Está seguro que desea eliminar el usuario?";
        dialogo.OnConfirmado = EventCallback.Factory.Create(this,() => EliminarUsuario(id));
        dialogo.Mostrar();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadSession();
            LoadUsuarios();
            StateHasChanged();
        }
    }

    private void LoadUsuarios()
    {
        try{
            var resultado = CasoDeUsoUsuarioConsultaTodos.Ejecutar();
            UsuariosList = resultado.Where(usuario=> usuario.Id != UsuarioRegistrado.Id).ToList();
            
        }catch(Exception ex){
            ExibirMensaje(ex.Message, "error");
        }
    }

    protected async Task LoadSession()
    {
        UsuarioRegistrado = await JS.InvokeAsync<Usuario?>("getUsuario");
        
        if (UsuarioRegistrado == null || !servicioAutorizacion.PoseeElPermiso(UsuarioRegistrado.Id, Permiso.UsuarioConsulta))
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private void AbrirEspacioParaEdicion(int id)
    {      
        _usuario = UsuariosList.FirstOrDefault(x => x.Id == id).Clone();
        _editando = true;
        _creando = false;
        crearEditarUsuario.AbrirFormulario();
    }

    private void AbrirEspacioParaCreacion()
    {
        _usuario = new Usuario();
        _creando = true;
        _editando = false;
        crearEditarUsuario.AbrirFormulario();
    }

    private void Updated()
    {
        if(_creando){
            ExibirMensaje("Usuario creado con éxito", "exito");
        }else{
            ExibirMensaje("Usuario actualizado con éxito", "exito");
        }
        LoadUsuarios();
    }

    private void NotUpdated()
    {
        if(_creando){
            ExibirMensaje("Error al crear el usuario", "error");
        }else{
            ExibirMensaje("Error al crear el usuario", "error");
        }
    }

    private void EliminarUsuario(int usuarioId)
    {
        try{
            CasoDeUsoUsuarioBaja.Ejecutar(usuarioId, 1);
            ExibirMensaje("Usuario eliminado con éxito", "exito");
        }catch(Exception ex){
            ExibirMensaje(ex.Message, "error");
        }finally{
            LoadUsuarios();
        }
    }
}